* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* header setion style */
.header {
    background-image: url('../images/banner/banner1.png');
    width: auto;
    height: 808px;
    left: 1600px;
    top: 808px;
    background-repeat: no-repeat;
}

.banner {
    margin: 0 150px;
    text-align: right;
}

.header-title {
    font-weight: 700;
    font-size: 65px;
    color: #151414;

}

.header-description {
    color: #444343;
    font-weight: 400;

}

.header-button {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 20px 25px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    margin-top: 20px;

}

/* failure section styles */
.failure {
    display: flex;


}

.my-failure {
    margin-top: 370px;

}

.failure-image {

    margin-top: 130px;
}

.failure-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.failure-description {
    font-weight: 400;
    color: #444343;
    margin-bottom: 16px;
}

/* my plan styles */
.my-plans {
    margin-top: 130px;
}

.plan-container {
    display: flex;
    justify-content: space-around;
    gap: 22px;
    margin-top: 60px;
    text-align: center;
}

.plan {

    padding: 30px;
}

.my-plan-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
}

.plan-title {
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.plan-description {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
}

/* footer styles */

.contact {
    display: flex;
    gap: 100px;
    background: #151414;
    padding: 130px 200px;
    margin-top: 113px;
}
.contact-title{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}
.contact-description{
    font-weight: 400;
    font-size: 16px;
    color: #F8F8F8;
    margin-top: 20px;
    margin-right: 230px;
}
.p-email{
    margin-top: 20px;
    color: #FFFFFF;
}
.p-phn{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.contact .section-title {
    text-align: left;
}
.second-title{
    margin-bottom: 30px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;
}
.btn{
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    margin-top: 15px;
    padding: 18px 30px;
    border: none;
}
